<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>date</th>
      <td mat-cell *matCellDef="let element">{{ element.bookingDate | date: 'dd/MM/yyyy'}}</td>
    </ng-container>

    <!-- foodtruckId Column -->
    <ng-container matColumnDef="foodtruckId">
      <th mat-header-cell *matHeaderCellDef>foodtruckId</th>
      <td mat-cell *matCellDef="let element">{{ element.foodTruckId }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
